[default]
aws_access_key_id = {{ (bitwardenFields "item" "signin.aws.amazon.com - busbud").AWS_ACCESS_KEY_ID.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "signin.aws.amazon.com - busbud").AWS_SECRET_ACCESS_KEY.value }}
