[user]
	name = Mika Andrianarijaona
	email = {{ .email | quote }}
[init]
	defaultBranch = main
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[url "git@github.com:"]
       insteadOf = https://github.com/
