{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{- range $name, $config := .packages.darwin.brews_with_args }}
brew {{ $config.name | quote }}, args: [{{ range $i, $arg := $config.args }}{{ if $i }}, {{ end }}{{ $arg | quote }}{{ end }}]
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

EOF
{{ end -}}

{{ range .packages.nix -}}
nix-env -iA {{ . | quote }}
{{ end -}}

