{
  "mcpServers": {
    "notion": {
       "type": "remote",
       "url": "https://mcp.notion.com/mcp",
       "enabled": false
     },
     "chrome-devtools": {
       "type": "local",
       "command": "npx",
       "args": ["-y", "chrome-devtools-mcp@latest"],
       "enabled": false
     },
     "playwright": {
       "type": "local",
       "command": "npx",
       "args": ["-y", "@playwright/mcp@latest", "--extension"],
       "enabled": false,
       "environment": {
         "PLAYWRIGHT_MCP_EXTENSION_TOKEN":
           "w5_be3P84sSBMH2czlxU6AHFl1RFMyGgFjDOqSbGQgQ"
       }
     },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer {{ keyring "github" "mikaoelitiana" }}"
      }
    }
  }
}
